@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
:root {
  --var-turquoise: #1abc9c;
  --var-green-sea: #16a085;
  --var-emerald: #2ecc71;
  --var-nephritis: #27ae60;
  --var-peter-river: #3498db;
  --var-belize-hole: #2980b9;
  --var-amethyst: #9b59b6;
  --var-wisteria: #8e44ad;
  --var-wet-asphalt: #34495e;
  --var-midnight-blue: #2c3e50;
  --var-sun-flower: #f1c40f;
  --var-orange: #f39c12;
  --var-carrot: #e67e22;
  --var-pumpkin: #d35400;
  --var-alizarin: #e74c3c;
  --var-pomegranate: #c0392b;
  --var-clouds: #ecf0f1;
  --var-silver: #bdc3c7;
  --var-concrete: #95a5a6;
  --var-asbestos: #7f8c8d;
  --var-button-radius: 25px;
}
.kana_trainer {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  overflow: hidden;
  max-height: 500px;
  max-width: 400px;
  animation: fadein 1s;
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

.main {
  height: 100%;
  padding: 0.5em;
  background: #3141d6;
}

svg.material-icons {
  font-size: 1.5rem;
  color: var(--var-clouds);
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  padding: 5px;
  margin: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: background-color 0.2s ease, transform 0.3s ease;
  background-color: #3141d6;
}

svg.material-icons:after {
  content: "";
  width: 100%;
  height: 100%;
  border: solid 2px;
  transform: scale(0.8);
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  transition: all 0.3s ease;
  border-color: #3141d6;
}

svg.material-icons:hover {
  background-color: transparent;
  transform: rotate(90deg);
  cursor: pointer;
  box-shadow: none;
}

svg.material-icons:hover:after {
  transform: scale(1);
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}

.flat-button:hover::before {
  color: #3c4de7;
}

.flat-button {
  position: relative;
  height: 60px;
  background: #3c4de7;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: color 0.3s;
  /* Typo */
  line-height: 45px;
  color: var(--var-clouds);
  padding: 5px;
  display: inline-block;
  width: 100%;
  margin: 5px;
  font-weight: 500;
}

.flat-button:after {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2b3ac0;
  content: "";
  z-index: -2;
  transition: transform 0.3s;
}

.flat-button:hover::after {
  transform: translateY(-80%);
  transition: transform 0.3s;
}

// .win:active {
//     background: #2bc044;
// }

// .lose:active {
//     background: #E74C3C;
// }

.hotkey {
  position: relative;
  /* bottom: 0px; */
  right: 14px;
  font-size: 2em;
  z-index: 1;
}
.answers {
  width: 385px;
}
.answer {
  width: 190px;
}

.show.win {
  background: var(--var-nephritis);
}

.show.lose {
  background: var(--var-alizarin);
}

.opacity {
  display: inline-flex;
}

$color1: #3141d6;
$color2: #3c4de7;

.switch_box {
  margin: 1em;
}

.input_wrapper {
  height: 40px;
  position: relative;
  cursor: pointer;
}

.input_wrapper input[type="checkbox"] {
  width: 80px;
  height: 40px;
  cursor: pointer;
  appearance: none;
  background: #{$color2};
  border-radius: 2px;
  position: relative;
  outline: 0;
  transition: all 0.2s;
}

.input_wrapper input[type="checkbox"]:after {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 34px;
  height: 34px;
  background: var(--var-clouds);
  z-index: 2;
  border-radius: 2px;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.input_wrapper svg {
  position: absolute;
  top: 50%;
  transform-origin: 50% 50%;
  fill: var(--var-clouds);
  transition: all 0.35s;
  z-index: 1;
}

.input_wrapper .is_checked {
  width: 18px;
  left: 18%;
  transform: translateX(190%) translateY(-50%) scale(0);
}

.input_wrapper .is_unchecked {
  width: 15px;
  right: 15%;
  transform: translateX(0) translateY(-50%) scale(1.5);
}

/* Checked State */
.input_wrapper input[type="checkbox"]:checked {
  background: #{$color2};
}

.input_wrapper input[type="checkbox"]:checked:after {
  left: calc(100% - 37px);
}

.input_wrapper input[type="checkbox"]:checked + .is_checked {
  transform: translateX(0) translateY(-50%) scale(1.5);
}

.input_wrapper input[type="checkbox"]:checked ~ .is_unchecked {
  transform: translateX(-190%) translateY(-50%) scale(0);
}

.contextmenu {
  background-color: #3141d6;
}

.contextmenu__item {
  background-color: #3141d6;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.contextmenu__item:hover {
  background-color: #3c4de7 !important;
}

.contextmenu__item img {
  height: 20px;
  margin-right: 15px;
}

$kana-color: #3141d6;
$kana-color-win: #2ecc71;
$kana-color-lose: #c0392b;

#Kana {
  font-size: 13em;
  font-weight: 900;
}

#Kana {
  color: mix(#fff, $kana-color, 85%);
  text-shadow: -0.0075em 0.0075em 0 mix(#fff, $kana-color, 94%),
    0.005em 0.005em 0 mix(#fff, $kana-color, 60%),
    0.01em 0.01em 0 mix(#fff, $kana-color, 62%),
    0.015em 0.015em mix(#fff, $kana-color, 64%),
    0.02em 0.02em 0 mix(#fff, $kana-color, 66%),
    0.025em 0.025em 0 mix(#fff, $kana-color, 68%),
    0.03em 0.03em 0 mix(#fff, $kana-color, 70%),
    0.035em 0.035em 0 mix(#fff, $kana-color, 72%);
}

#Kana.win {
  transition: all ease 0.2s;
  transform: scale(1.2);
  color: mix(#fff, $kana-color-win, 85%);
  text-shadow: -0.0075em 0.0075em 0 mix(#fff, $kana-color-win, 94%),
    0.005em 0.005em 0 mix(#fff, $kana-color-win, 60%),
    0.01em 0.01em 0 mix(#fff, $kana-color-win, 62%),
    0.015em 0.015em mix(#fff, $kana-color-win, 64%),
    0.02em 0.02em 0 mix(#fff, $kana-color-win, 66%),
    0.025em 0.025em 0 mix(#fff, $kana-color-win, 68%),
    0.03em 0.03em 0 mix(#fff, $kana-color-win, 70%),
    0.035em 0.035em 0 mix(#fff, $kana-color-win, 72%);
}

#Kana.lose {
  transition: all ease 0.2s;
  transform: scale(0.8);
  color: mix(#000, $kana-color-lose, 85%);
  text-shadow: -0.0075em 0.0075em 0 mix(#000, $kana-color-lose, 94%),
    0.005em 0.005em 0 mix(#000, $kana-color-lose, 60%),
    0.01em 0.01em 0 mix(#000, $kana-color-lose, 62%),
    0.015em 0.015em mix(#000, $kana-color-lose, 64%),
    0.02em 0.02em 0 mix(#000, $kana-color-lose, 66%),
    0.025em 0.025em 0 mix(#000, $kana-color-lose, 68%),
    0.03em 0.03em 0 mix(#000, $kana-color-lose, 70%),
    0.035em 0.035em 0 mix(#000, $kana-color-lose, 72%);
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #3141d6;
  border-radius: 3%;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  width: 80%;
  /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
}

.mode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opacity-label {
  margin: 0.5em;
}

label {
  font-size: 1em;
  font-family: "Consolas";
  color: var(--var-clouds);
}

.flaticon {
  font-size: 0.6em;
  color: var(--var-clouds);

  a {
    text-decoration: none;
    color: var(--var-clouds);
  }
}

.window-draggable {
  height: 30px;
  width: 100%;
  pointer-events: none;
  position: absolute;
  z-index: 10;
  -webkit-app-region: drag;
}

/* Original color : #29323b */
.title-bar {
  height: 30px;
  /* background: #2c3e50; */
  background: #29323b;
  display: flex;
}

.title-bar .title {
  display: inline;
  font-size: 0.9rem;
  line-height: 30px;
  color: var(--var-clouds);
  margin-left: 5px;
}

.window-controls {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: auto;
  height: 30px;
}

.window-controls button {
  -webkit-app-region: no-drag;
  width: 40px;
  height: 30px;
  border: none;
  background-color: transparent;
  transition: background-color 0.25s;
  color: var(--var-clouds);
  cursor: pointer;
}

.window-controls button svg {
  fill: #eee;
  display: inline;
}

.window-minimize:hover,
.window-maximize:hover {
  background-color: var(--var-concrete);
}

.window-minimize:active,
.window-maximize:active {
  background-color: var(--var-asbestos);
}

.window-close:hover {
  background-color: var(--var-pomegranate);
}

.window-close:active {
  background-color: var(--var-alizarin);
}

/* .logo {
    background-image: url('./Logo/');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 2px;
} */
